
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* common style */
.text-primary{
    color: #FD6E0A;
}
*{
    margin-top: 0%;
}
.btn-primary{
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
    color: white;
}

.bg-secondary{
    background-color: #FFF8F3;
}
.text-common{
    color: #181818;
}
.text-secondary{
    font-size: 15px;
    color: #757575;
}

/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 7% 0 7%;
    padding-top: 35px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul li{
    list-style: none;
}
nav a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7% 0 7%;
    line-break: loose;
}
.banner-greeting{
    font-size: 30px;
    font-weight: 500px;
}
.banner-title{
    font-weight: bolder;
    font-size: 50px;
}
.bannerD{
    font-size: 15px;
    margin-bottom: 35px;
}
.banner-content{
    max-width: 500px;
    
}
.banner-image{
    width: 450px;
    height: 500px;
}


.header{
    background-image: url('assets/images/header_bg.png'), url('assets/images/developer.png');
    align-items: center;
    background-repeat: no-repeat;
    background-position: right bottom, left center; 
}
.btn-down{
    margin-right: 15px;
}

/* about section design */
.about{
    margin: 9% 15% 0 15%;
    padding: 7% 5% 7% 5%;
}
.about-block{
    background-color: white;
    padding: 5px;
}
.about-title{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
.about-content{
    text-align: justify;
    margin-top: 5px;
}
.about-details{
    display: flex;
    gap: 50px;
    padding: 20px;
    justify-content: space-between;
}
.about-DH{
    text-align: center;
}
.about-DC{
    color: #474747;
    font-weight: bold;
}
.footer{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
    padding: 10% 15% 7% 10%; 
    gap: 10%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    margin-bottom: 5%;
    padding: 8%;
    width: 100%;
    display: block;
    border-radius: 5px;
    border: none;
}